@import ".\node_modules\bootstrap\less\bootstrap";


//Colers, using the collor pallete below
//http://paletton.com/#uid=33v0u0kllllaFw0g0qFqFg0w0aF
@brand-primary:         rgb(41, 82, 109);
@brand-secondary:       rgb(255, 233, 170);
@brand-tertiary:        rgb(170, 86, 57);
@brand-success:         rgb(72, 111, 136);
@brand-info:            rgb(170, 140, 57);
@brand-warning:         rgb(128, 100, 21);
@brand-danger:          rgb(85, 22, 0); 

//navbar
@navbar-default-color:                      @brand-secondary;
@navbar-default-bg:                         @brand-primary;
@navbar-border-radius:                      0 0 @border-radius-base @border-radius-base;

@navbar-default-link-color:                white;
@navbar-default-link-hover-color:          @brand-secondary;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         white;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

@navbar-default-toggle-hover-bg:            @brand-success;
@navbar-default-toggle-icon-bar-bg:         white;
@navbar-default-toggle-border-color:        white;

.page-header {
    min-height:             150px;
    margin:                 0;
    border-bottom:          0;
    background:             url(../images/bible.jpg);
    
    background-position:    bottom;
    background-repeat:      no-repeat;

    @media (max-width: 560px) {
         background-size:   auto 100%; 
    }
    @media (min-width: 560px) {
        background-size:   100% auto;
    }

}

.content {
    padding-bottom: 150px;
        box-shadow: 0 9px 0px 0px white, 
                    0 -9px 0px 0px white, 
                    12px 0 15px -4px rgba(0, 0, 0, 0.2), 
                    -12px 0 15px -4px rgba(0, 0, 0, 0.2);
}

.footer {
    color:              @brand-secondary;
    position:           fixed;
    bottom:             0;
    width:              100%;
    padding-top:        @padding-base-vertical;
    background-color:   @brand-warning;
}